/* 
    Created on : 31-05-2014, 01:52:39 PM
    Author     : Javier
*/

*{/*Eliminar los espacios vacios en los bordes*/
    padding: 0px;
    margin: 0px;
}

body{
    background-color: gold;
}

#header {
    position: relative;
    padding: 30px 15px;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
}

#nav{
    background-color: greenyellow;
}

#aside{
    float: left;
    width: 20%;
    min-height: 70%;
    background-color: gainsboro;
}

#section{
    float: left;
    background-color: #ffffff;
    width: 80%;
    min-height: 70%;
}

#article{
    width: 500px;
    margin:0 auto 0 auto;
}

.borde {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    //background-color: #fafafa;/*Color de fondo*/
    //box-shadow: inset 0 3px 6px rgba(0,0,0,.05);/*Sombra*/
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 1px;
    -webkit-border-radius: 3px 5px 1px 4px;/*Redondea esquinas*/
}

.borde:after {
    content: "Ejemplo";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}