/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-05-2014, 01:52:39 PM
    Author     : Javier
*/
#contenedor{
    width: 100%;
}

#contenedor #cuadro{
    width: 500px;
    margin:0 auto 0 auto;
}

.borde {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    //background-color: #fafafa;
    //box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 1px;
}